.container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 320px;
    padding-bottom: 20px;
    display: inline-flex;
    justify-content: space-around;
}

.button {
    background-color: transparent;
    border: none;
}

.button:hover,
.button:focus {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.dropdown {
    position: absolute;
    top: -110px;
    left: 0px;
    display: block;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
}

.item {
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'Open Sans';
}

.item:hover,
.item:focus {
    background-color: rgb(115, 180, 251);
}