.container {
    position: absolute;
    bottom: 0px;
    left: 30%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.button {
    background-color: transparent;
    border: none;
}

.button+.button {
    margin-left: 15px;
}

.button:hover,
.button:focus {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}