.container {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.link {
    background-color: transparent;
    border: none;
}

.active {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.link:hover,
.link:focus {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}