.list {
    padding: 20px;
    margin-top: 15px;
}

.item {
    margin-bottom: 10px;
}

.link {
    color: black;
    font-family: "Open Sans";
    font-size: 24px;
    text-decoration: none;
}

.link:hover,
.link:focus {
    opacity: 0.8;
}