.container {
  position: relative;
  width: 340px;
  /* width: 100vw; */
  height: 100vh;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('./images/bcg.jpg');
  background-size: cover;
}